
*.png

res/drawable-hdpi/ic_xy_settings_clock.png

res/drawable-hdpi/ic_xy_settings_general_ui.png

res/drawable-hdpi/ic_xy_settings_navigation_bar.png

res/drawable-hdpi/ic_xy_settings_power_menu.png

res/drawable-hdpi/ic_xy_settings_quick_toggles.png

res/drawable-hdpi/ic_xy_settings_signal.png

res/drawable-hdpi/ic_xy_settings_statusbar.png
